/* ----------------------------------------- FONTS */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Sriracha&display=swap');


/* ----------------------------------------- BODY */

body {
    padding-top: 4em;
    padding-bottom: 5em;
}

.page-title {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding: 1em 0 0.5em 0;
}

.navbar-brand {
    font-family: "Sriracha", sans-serif;
    font-size: 1.7em;
}

.nav-item a,
.footer {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

.card-title {
    font-family: "Sriracha", sans-serif;
}

/* ----------------------------------------- HEADER */

.navbar,
.dropdown-item {
    background-color: #ee693f;
}

.navbar {
    border-bottom: 3px solid #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.dropdown-menu {
    padding: 0px;
    border: #b5b5b5;
    box-shadow: 5px 5px 15px #333333;
}

.dropdown-menu a {
    color: #fff;
}


/* ----------------------------------------- INDEX */

.carousel-item {
  max-height: 55vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-container {
    padding: 2em;
}

.text-container h3 {
    padding-bottom: 0.5em;
}


/* ----------------------------------------- RECIPES PAGE */

.recipe-description {
    margin: auto;
}

.recipe-image img {
    max-width: 25vh;
}


/* ----------------------------------------- FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid #fff;
}

footer,
footer p {
    background-color: #ee693f;
    color: #fff;
}